.chatbotClickBtn {
  position: absolute;

  width: 80px; /* Same as width to make it perfectly circular */
  border-radius: 50%; /* Make the image circular */
  border: 3px solid #9c0beb; /* Add a professional border with the desired color */
  cursor: pointer;
}
.chatbotClickBtnDiv {
  position: fixed;
  z-index: 10000;
  margin-top: -30%;
  margin-left: 94%;
}
